/* Reset básico */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }
 
 /* Estilos globais */
 body {
 background-image: url(capa.jpg);
 }

 /* Cabeçalho */
 header {
  
  color: #fff;
  text-align: center;
 }
 
 header h1 {
  margin-bottom: 10px;
 }
 
 nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
 }
 
 nav li {
  margin: 0 9px;
 }
 
 nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
 }
 
 nav a:hover {
  color: #4800ff;
 }
 
 /* Conteúdo principal */
 main {
  padding: 20px;
 }
 
 main h2 {
  margin-bottom: 10px;
 }
 
 main p {
  margin-bottom: 20px;
 }
 
 main img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
 }
  /* Rodapé */
 footer {
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 320px;
 }
 
 footer .social-media a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
 }
 
 footer .social-media a:hover {
  color: #4800ff;
 }
 
 .logo{
     margin-bottom: 10px;
     padding-bottom: 10px;
 }
